.vscode/**
src/**
tsconfig.json
esbuild.mjs
**/*.map
**/*.ts
node_modules/**
!node_modules/@cursor/**
!node_modules/@bufbuild/**
!node_modules/@connectrpc/**
!node_modules/zod/**
.gitignore
esbuild.mjs
